.ideas/
.vscode/
.github/instructions/codacy.instructions.md
.claude/
.codacy/
.development/
.venv/
.venv-*/
__pycache__/
.cache/
.pytest_cache/
.logs/
OctoPrint_PandaBreath.egg-info/
.octoprint-devel/
.octoprint-master/
dist/
build/
*.egg
*.egg-info
tools/
.coverage
.DS_Store
.githooks/
