<a href="javascript:void(0)"
   class="pandabreath-estop-btn"
   title="{{ _('Panda Breath emergency stop') }}"
   data-bind="click: confirmEmergencyStop">
    <i class="fa fa-power-off"></i>
    <span class="pandabreath-estop-label">{{ _('E-STOP') }}</span>
</a>
